@keyframes open {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
}
  
.add-watchlist-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.add-watchlist-popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow: auto;
    width: 32rem;
    background-color: var(--border-color);
    border: 1px solid white;
    color: black;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.8);
    top: var(--popup-top-offset);
    left: var(--popup-left-offset);
    margin-left: -16rem;
    animation: open 0.5s;
}

.add-watchlist-popup-title {
    display: flex;
    font-size: 1.6rem;
    padding: 1.4rem 0 1.2rem 1.2rem;
    border-bottom: 0.1rem solid white;
}

.add-watchlist-popup-title-icon {
    margin-right: 1rem;
}

.add-watchlist-popup-description {
    font-size: 1.2rem;
    padding: 1.2rem;
    line-height: 1.6rem;
}

.add-watchlist-input-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid white;
}

.add-watchlist-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.watchlist-name-label {
    font-size: 1.4rem;
    padding-right: 1rem;
}

.watchlist-name-input {
    font-size: 1.4rem;
    width: 18rem;
    padding: 0.4rem;
}

.watchlist-name-input:focus {
    outline: none;
}

.add-watchlist-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.4rem;
    height: 4rem;
    padding: 0.4rem;
}

.add-watchlist-button {
    font-size: 1.4rem;
    cursor: pointer;
}

.add-watchlist-button:hover {
    background-color: var(--secondary-color);
}

.add-watchlist-button:active {
    transform: translate(0.1rem, 0.1rem);
    box-shadow: none;
}

.add-watchlist-button:focus {
    outline: none;
}

.error-text {
    color: rgb(140, 0, 0);
    text-align: center;
    font-size: 1.2rem;
}