.buy-sell-asset-container {
    padding: 1rem 1rem 1rem 3rem;
}

.buy-sell-asset-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 6rem 1rem 0rem;
}

.buy-sell-asset-coin-text-container {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.buy-sell-asset-coin-image {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}