.guide-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 0;
}

.guide-popup {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem
}

.guide-close {
  align-self: flex-end;
  font-size: 2rem;
  cursor: pointer;
}