.login-popup-foreground {
  padding: 2rem;
  text-align: center;
  animation: none;
}

.login-title {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

.login-container {
    font-size: 1.2rem;
}

.login-login {
    margin-bottom: 1.4rem;
}

.username-text {
    margin-right: 0.4rem;
}

.username-input {
    padding: 0.4rem;
    margin-left: 0.4rem;
}

.login-button, .register-button {
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: 1rem;
    padding: 0.4rem;
}

.register-text {
    margin-bottom: 1rem;
}

.error-text {
    color: rgb(140, 0, 0);
}