/* PRICES MAIN PAGE STYLES */

.price-container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.price-settings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 0 2rem;
}

.watchlist-management {
    display: flex;
    justify-content: flex-start;
}

.add-watchlist-sign, .edit-watchlist-sign {
    font-size: 1.8rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 1rem;
}

.watchlist-dropdown {
    width: 18rem;
    padding: 0.4rem;
    font-size: 1.2rem;
}

.watchlist-dropdown:focus {
    outline: none;
}

.watchlist-settings {
    display: flex;
    justify-content: flex-end;
}

.price-setting-sign, .price-question-sign {
    font-size: 1.8rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.price-question-sign {
    margin-left: 1rem;
}

.add-watchlist-sign:hover, .edit-watchlist-sign:hover, .price-setting-sign:hover, .price-question-sign:hover {
    color: black;
}

.price-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--secondary-color);
    padding: 2rem 3rem 2rem 2rem;
}

.price-item:last-of-type {
    border-bottom: none;
}

.ticker-symbol {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.ticker-name {
    font-size: 1.2rem;
}

.ticker-price {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

.ticker-price-change {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.2rem;
    text-align: end;
}

.ticker {
    display: flex;
    color: black;
}

.ticker-image {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.watchlist-header {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.sortable-column {
    cursor: pointer;
    width: fit-content;
    justify-self: center;
}

.watchlist-assets {
    display: flex;
    flex-direction: column;
}