@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* NAVIGATION STYLES */

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}

.menu-item {
  margin: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.1rem;
  list-style: none;
  color: var(--primary-color);
}

.active-menu-item {
  color: black;
  border-bottom: 0.1rem solid black;
}

.menu-item:hover {
  color: black;
  cursor: pointer;
}

/* FOOTER STYLES */

