@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --primary-color: rgb(144, 153, 161);
  --secondary-color: rgba(230, 230, 230, 0.95);
  --border-color: rgb(205, 213, 221);
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background: url("./img/background.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}
